body{
  margin:0;
  padding:0;
  color: #242424;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 900;
  color: #000;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
}

main{
  display: block;
  background-color:#000;
}

.container{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

section.module p{
  margin-bottom: 40px;
  line-height: 30px;
  text-align: justify;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

section.module:last-child{
  margin-bottom: 0;
}

section.module h2{
  margin-bottom: 40px;
  font-size: 30px;
  color: #47A2F5;
  font-weight: bold;
  font-size: 36px;
}

section.module.content{
 padding: 40px 0;
 background: black; 
}

section.module.parallax{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.module.parallax:after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
}


section.module.parallax-1{
  background-image: url("img/1.jpg");
}

section.module.parallax-2{
  background-image: url("img/2.jpg");
}

section.module.parallax-3{
  background-image: url("img/3.jpg");
}

section.module.parallax h1{
  color: #FFF;
  text-align: center;
  font-size: 78px;
  z-index: 50;
  text-transform: uppercase;
}

@media all and (max-width: 820px) {
  section.module h2 {
    font-size: 32px;
  }
  .module h2, p{
    padding: 0 8px;
  }

  .container{
    margin:0;
    padding:0;
  }

  section.module.parallax h1 {
    font-size: 36px;
  }
}

#tecnico-todo{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#tecnico-imagem img{
  width: 100%;
  max-width: 400px;
  height: 400px;
  display: block;
  float: left;
  margin: 0 auto;
}

/*ELENCO*/


#elenco-todo{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.elenco-conteudo-todo{
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  height: 450px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  flex-direction: column;
  justify-content: left;
  background-color: red;
}

.elenco-conteudo-todo-titulo {

  width: 100%;
  max-width: 315px;
  margin: 0 auto;
  height: 40px;
  border:  1px  #47A2F5 solid;
  flex-direction: column;
  justify-content: left;
  background-color: white;

}


.elenco-conteudo-todo-imagem {

  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  height: 360px;
  border:  1px  #47A2F5 solid;
  flex-direction: column;
  justify-content: left;
  background-color:#000;

}
.elenco-conteudo-todo-imagem  img{
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  height: 280px;
}

.elenco-conteudo-todo-posicao {
  border:  1px  #47A2F5 solid;
  width: 100%;
  max-width: 315px;
  margin: 0 auto;
  height: 40px;
  flex-direction: column;
  justify-content: left;
  background-color:crimson;

}

.elenco-conteudo-todo-titulo, .elenco-conteudo-todo-posicao {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color:   #47A2F5 ;
  padding: 2px;
  color: white;
}



@media screen and (max-width: 450px) {
	.elenco-conteudo-todo{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    height: auto;    
    margin-top: 2px;
    flex-direction: column;
    justify-content: center;
    background-color: black;
  }

  .elenco-conteudo-todo-titulo {

    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    height: 40px;
    border:  1px  #47A2F5 solid;
    flex-direction: column;
    justify-content: left;
    background-color: white;
  
  }
  
  
  .elenco-conteudo-todo-imagem {
  
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    height: 360px;
    border:  1px  #47A2F5 solid;
    flex-direction: column;
    justify-content: left;
    background-color:#000;
  
  }
  .elenco-conteudo-todo-imagem  img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    height: 280px;
  }
  
  .elenco-conteudo-todo-posicao {
    border:  1px  #47A2F5 solid;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    height: 40px;
    flex-direction: column;
    justify-content: left;
    background-color:crimson;
  
  }

  .elenco-conteudo-todo-titulo, .elenco-conteudo-todo-posicao {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color:   #47A2F5 ;
    padding: 2px;
    color: white;
  }
  
}
